nav {
    background-color: rgb(37, 37, 37);
}

nav a {
    color: var(--md-sys-color-on-background);

}

nav .brand-logo {
    color: var(--md-sys-color-on-background);
}

nav ul:not(.dropdown-content)>li>a {
    color: var(--md-sys-color-on-background);
}
