{% extends 'layout.html' %}

{% block title %}動画情報の投稿{% endblock %}

{% block head %}
<meta property="og:title" content="動画情報の投稿｜ニコニコ動画(Re:仮)" />
<meta property="og:description" content="ニコニコ動画(Re:仮)の動画を非公式にリストアップするサイト" />
<meta property="og:url" content="{{ url_for('post', _external=True) }}" />
<meta property="og:image" content="{{ url_for('static', filename='ogp.png', _external=True) }}" />
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />
{% endblock %}

{% block content %}
<h2>動画情報の投稿</h2>

<p>
    動画情報の修正は
    <a href="https://docs.google.com/spreadsheets/d/1IIXr6q8NEUQJfAR7uvQj9YADcIfSIJoGsjdbNK0gvCM/">こちらのスプレッドシート</a>
    にコメントをお願いします。
</p>

{% if msg %}
<p>{{ msg }}</p>
<script>
    window.onload = function() {
        alert('{{ msg }}');
    }
</script>
{% endif %}

<form action="{{ url_for('post') }}" method="post">
    <div class="input-field">
        <input type="text" name="id" id="id" required>
        <label for="id">動画ID</label>
    </div>
    <div class="input-field">
        <input type="text" name="title" id="title" required>
        <label for="title">タイトル</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit">投稿</button>
</form>
{% endblock %}
