{% extends 'layout.html' %}

{% block title %}検索{% endblock %}

{% block head %}
<meta property="og:title" content="検索｜ニコニコ動画(Re:仮)" />
<meta property="og:description" content="ニコニコ動画(Re:仮)の動画を非公式にリストアップするサイト" />
<meta property="og:url" content="{{ url_for('search', _external=True) }}" />
<meta property="og:image" content="{{ url_for('static', filename='ogp.png', _external=True) }}" />
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />
{% endblock %}


{% block content %}
<h2>検索</h2>
<p>🚧ただいま制作中です🙇</p>
{% endblock %}
