{% extends 'layout.html' %}

{% block title %}{{ video['タイトル'] }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ video['タイトル'] }}｜ニコニコ動画(Re:仮)" />
<!-- <meta property="og:description" content="{{ 動画の説明 }}" /> -->
<meta property="og:url" content="{{ url_for('watch', id=video['ID'], _external=True) }}" />
<meta property="og:image" content="{{ url_for('thumbnail', id=video['ID'], _external=True) }}" />
<meta property="og:type" content="video.other" />
<meta property="twitter:card" content="summary_large_image" />

<meta http-equiv="refresh" content="0;URL={{ url }}" />
{% endblock %}

{% block content %}
<h2>{{ video['タイトル'] }}</h2>
<p>まもなくリダイレクトします。</p>
<p>しばらく経ってもリダイレクトしない場合は<a href="{{ url }}">こちら</a>をクリックしてください。</p>
{% endblock %}
